################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/**
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/MyFisrtRepository/v17/.suo
/.vs/MyFisrtRepository/config/applicationhost.config
/Websbor.Password_Respondents/obj/Debug/Websbor.Password_Respondents_MarkupCompile.i.cache
